html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #bd027d;
}
